.navbar-toggler {
  padding: 6px 10px !important;
  background-color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  width: 1.2em !important;
  height: 1.2em !important;
}